:root {
    --teal:teal;
    --turquoise: rgb(9, 170, 170);
    --grey: rgb(131, 130, 130);
    --light-grey: rgb(199, 199, 199);
    --border: 5px solid var(--teal);
}
*{
padding: 0;
margin: 0;
}

body {
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light-grey);
    display: block;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height:150px;
    width: 100%;
    background-color: var(--teal);

}

h1 {
    width: 90%;
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    
}
nav {
    width: 10%;
    background-color: var(--turquoise);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

#nav-header {
    font-size: 32px;
    text-decoration: underline;
    padding-left:5px;
}

ul {
    list-style: none;
    font-size: 20px;
    padding-left:5px;
    text-align: right;
}

.nav-list {
    width:max-content;
    text-align: right;
}

main{
    background-color: var(--light-grey);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height:100%;
    width: 100%;
}


.text-left{
    margin:20px 0 20px 100px;
    border: 5px solid var(--teal);
    border-radius: 5px;
    width: 75%;
    height: max-content;
    background-color: var(--grey);
    line-height: 1.5;
}

.section-header {
    background-color: var(--turquoise);
    margin:0;
    border-bottom: 5px solid var(--teal);
    padding:10px;
    padding-right: 0;
}

.aside-text{
    height: max-content;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    padding:10px;
    font-size: 20px;
}

#profile-picture {
    width: 200px;
    height: 250px;
    float:right;
    padding: 10px;
}

.portfolio {
    margin-left: 100px;
    width: 75%;
    border: var(--border);
    border-radius: 5px;
    background-color: var(--grey);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.portfolio-item {
    border: var(--border);
    border-radius: 12px;
    margin: 30px 2.5% 10px 2.5%;
    width: 250px;
    height: 260px;
    background-image: url("../images/Placeholder.PNG");
    background-size:contain;
    background-blend-mode:luminosity;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

h3 {
    background-color: var(--turquoise);
    margin:0px;
    border-right: 5px solid var(--teal);
    border-bottom: 5px solid var(--teal);
    padding:10px;
    border-radius: 6px 0 12px 0;
    width: 100px;
}

#first-port-item {
    width: 94%;
    height: 600px;
    background-image: url("../images/Maki-Image.PNG");
    background-size: cover;
}

#horiseon-refactor{
    background-image: url("../images/Horiseon.PNG");
    background-size:cover;
}

#contact {
    width: 350px;
}

#contact-ul {
    text-align: left;
    line-height: 1.5;
    padding: 10px;
}

a {color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-decoration: none;
}

footer {
    text-align: center;
    font-size: 24px;
    background-color: var(--teal);
    height: 50px;
    position:relative;
    bottom:0;
    margin-top: 40px;
}

@media screen and (max-width: 1350px) {
    h1 {
        font-size: 50px;
    }

    #nav-header {
        font-size: 20px;
        padding-left: 2px;
    }
    
    nav ul {
        padding-left: 2px;
        font-size: 16px;
        line-height: 1.5;
    }

    #first-port-item {
        height: 500px; 
    }

}

@media screen and (max-width: 720px) {
    h1 {
        font-size: 24px;
        width: 80%;
    }
    nav {
        width: 20%;
    }

    #nav-header {
        font-size: 16px;
        padding-left: 2px;
    }
    
    nav ul {
        padding-left: 2px;
        font-size: 12px;
        line-height: 1.5;
    }

    .text-left {
        margin:20px 0 20px 50px;
    }

    #profile-picture {
        width: 150px;
        height: 200px;
    }

    .portfolio {
        margin:20px 0 20px 50px;
    }
    #first-port-item {
        height: 350px;
}
}